<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://yangflow.github.io/gitrelay/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>71pgsFHEpkMXw4iwh57WrXl/3gSSC9+PPa3XiXC1lSg=</string>
	<key>NSFocusStatusUsageDescription</key>
	<string>GitRelay defers sync failure notifications while Focus is on, then sends a combined summary when Focus ends.</string>
	<key>NSAppIntentsPackage</key>
	<string>GitRelay</string>
</dict>
</plist>
