<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://yangflow.github.io/gitrelay/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>71pgsFHEpkMXw4iwh57WrXl/3gSSC9+PPa3XiXC1lSg=</string>
	<key>NSFocusStatusUsageDescription</key>
	<string>GitRelay 会在专注模式开启时推迟同步失败通知，并在专注结束后发送聚合摘要。</string>
	<key>NSAppIntentsPackage</key>
	<string>GitRelay</string>
</dict>
</plist>
